// variables imports
@use "../abstracts/variables" as *;

.ad {
  &__imgContainer {
    img {
      display: block;
      margin: 0 auto;
      width: 50%;

      @include mq("s") {
        width: 80%;
      }
    }
  }
}
