// variables imports
@use "../abstracts/variables" as *;

.contact {
  max-width: 960px;
  margin: 2rem auto;
  font-weight: 700;
  letter-spacing: 2px;

  .contactContainer {
    text-align: center;

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.9rem;
      color: #ff7a29;
      margin: 1rem 0 2rem 0;
    }
  }

  .formContainer {
    max-width: 600px;
    margin: 0 auto;

    @include mq("m") {
      padding: 0 1rem;
    }

    form {
      display: flex;
      flex-direction: column;

      .eachForm {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;

        @include mq("m") {
          width: 80%;
          margin: 2rem auto 0 auto;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.4rem 0;
        }

        @include mq("s") {
          width: 80%;
          margin: 1rem auto 0 auto;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.4rem 0;
        }

        label {
          display: block;
          font-size: 14px;
          margin-bottom: 5px;
          width: 40%;

          .required {
            color: #ff7a29;
          }
        }

        input {
          @include mq("s") {
            width: 85%;
          }
        }

        input,
        select,
        textarea {
          width: 100%;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #ccc;
          border-radius: 5px;

          &:focus {
            border-color: #ff7a29;
          }
        }

        .selectWrapper {
          position: relative;
          width: 100%; /* セレクトボックスの全体の幅 */

          select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #fff;
            padding-right: 40px; /* 矢印用のスペースを確保 */
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            font-size: 16px;

            &:focus {
              border-color: #ff7a29;
            }
          }

          /* カスタム矢印 */
          &::after {
            content: "▼";
            font-size: 14px;
            color: #333;
            position: absolute;
            right: 20px; /* 矢印の位置 */
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none; /* 矢印がクリックの対象にならないようにする */
          }
        }
      }

      button {
        background-color: #ff7a29;
        color: white;
        padding: 1rem 6rem;
        border: none;
        border-radius: 30px;
        font-size: 1.2rem;
        cursor: pointer;
        margin: 0 auto;
        letter-spacing: 4px;
        margin-top: 3rem;

        @include mq("s") {
          margin-top: 2rem;
        }

        @include mq("m") {
          margin-top: 1rem;
        }

        &:hover {
          background-color: #e66b1e;
        }
      }
    }
  }
}